<div class="container">
  <div class="card col-md">
    <div class="row div-title">
      <div class="col-md">
        <h2 class="title">
          <span class="title-span">Produtos</span>
        </h2>
      </div>
    </div>
  </div>

  <div class="class-container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Codigo</th>
          <th scope="col">Nome</th>
          <th scope="col">Descrição</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>5012271</td>
          <td>Placa sudmo</td>
          <td>Placa eletronica valvula processo</td>
          <td>
            <button class="btn btn-outline-info btn-sm">Editar</button>
            <button class="btn btn-outline-danger btn-sm">Apagar</button>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
