<div class="card">
 <div class="card-header">
   Listagem de Produtos
   <button class="btn btn-success btn-cadastro" (click)="navegarParaCadastroProduto()">+ Cadastrar</button>
 </div>

  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Codigo</th>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>5012271</td>
          <td>Placa sudmo</td>
          <td>Placa eletronica valvula processo</td>
          <td>
            <button class="btn btn-outline-info btn-sm btn-editar">Editar</button>
            <button class="btn btn-outline-danger btn-sm">Apagar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
