<div class="card">
  <div class="card-header">
    Cadastro Produto
  </div>
  <div class="card-body">
    <form>
      <!--Campo código SAP-->
      <div class="form-group col-md-3">
        <label for="codigoSap">Código SAP</label>
        <input type="text" class="form-control" id="codigoSap">
      </div>

      <!--Campo nome do Produto-->
      <div class="form-group col-md">
        <label for="nomeProduto">Nome do Produto</label>
        <input type="text" class="form-control" id="nomeProduto">
      </div>

      <!--Campo descrição do Produto-->
      <div class="form-group col-md">
        <label for="descriçãoProduto">Descrição do Produto</label>
        <input type="text" class="form-control" id="descriçãoProduto">
      </div>

      <!--Campo utilização do Produto-->
      <div class="form-group col-md">
        <label for="utilizaçãoProduto">Utilização do Produto</label>
        <input type="text" class="form-control" id="utilizaçãoProduto">
      </div>

      <div class="row margin-left">
        <!--Campo projeto do Produto-->
        <div class="col form-group col-md">
          <label for="projetoProduto">Projeto</label>
          <input type="file" class="form-control-file" id="projetoProduto">
        </div>

        <!--Campo imagem do Produto-->
        <div class="col form-group col-md">
          <label for="imagemProduto">Imagem</label>
          <input type="file" class="form-control-file" id="imagemProduto">
        </div>
      </div>
    </form>
  </div>
</div>


<button class="btn btn-danger">Cancelar</button>
<button class="btn btn-success salvar">Salvar</button>






