<mat-card>
  <mat-card-title>Novo Produto</mat-card-title>

  <form>
    <div class="row">
      <mat-form-field appearance="outline" class="col-md-4">
        <mat-label>Código SAP</mat-label>
        <input matInput  name='codigo-sap'>
      </mat-form-field>
   </div>

   <div class="row">
      <mat-form-field appearance="outline" class="col-md">
        <mat-label>Nome do Produto</mat-label>
        <input matInput  name='nome-produto'>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="col-md">
        <mat-label>Descrição</mat-label>
        <input matInput  name='descricao-produto'>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="col-md-4">
        <mat-label>Utilização</mat-label>
        <input matInput  name='descricao-produto'>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Projeto</mat-label>
        <input matInput  name='descricao-produto'>
        <a><mat-icon matSuffix>sentiment_very_satisfied</mat-icon></a>
      </mat-form-field>
    </div>
  </form>




</mat-card>
