
<!--Faz a chamada do componente card-header pois ele troca quando é cadastro ou alteração-->
<app-card-header card-header-title="Cadastro Produto">

</app-card-header>
  <div class="card-body">
    <form formGroup="produtoForm">
      <!--Campo código SAP-->
      <div class="form-group col-md-3">
        <label for="codigo_sap_produto">Código SAP</label>
        <input type="number" class="form-control" id="codigo_sap_produto" [(ngModel)]="produto.codigo_sap_produto">
      </div>

      <!--Campo nome do Produto-->
      <div class="form-group col-md">
        <label for="nome_produto">Nome do Produto</label>
        <input type="text" class="form-control" id="nome_produto" [(ngModel)]="produto.nome_produto">
      </div>

      <!--Campo descrição do Produto-->
      <div class="form-group col-md">
        <label for="descricao_produto">Descrição do Produto</label>
        <input type="text" class="form-control" id="descricao_produto" [(ngModel)]="produto.descricao_produto">
      </div>

      <!--Campo utilização do Produto-->
      <div class="form-group col-md">
        <label for="utilizacao">Utilização do Produto</label>
        <input type="text" class="form-control" id="utilizacao" [(ngModel)]="produto.utilizacao">
      </div>


    </form>
  </div>

<!--Botões salvar e cancelar-->
<button class="btn btn-danger" (click)="navegarParaListaProduto()">Cancelar</button>
<button class="btn btn-success salvar" (click)="save()">Salvar</button>






