
<!----Botões de navegação para as telas de cadastro--->


  <button mat-raised-button (click)="navegarParaCadastroProdutos()"  class="btn-margin">
    Cadastro Produto
  </button>

  <button mat-raised-button (click)="navegarParaListaTecnica()" class="btn-margin">
    Lista Técnica
  </button>

  <button mat-raised-button (click)="navegarParaCadastroInsumo()" class="btn-margin">
    Cadastro Insumo
  </button>

  <button mat-raised-button (click)="navegarParaEstoqueInsumo()" class="btn-margin">
    Estoque Insumo
  </button>

  <button mat-raised-button (click)="navegarParaUnidadeEngenharia()" class="btn-margin">
    Unidade Engenharia
  </button>

  <button mat-raised-button (click)="navegarParaModoManufatura()" class="btn-margin">
    Modo Manufatura
  </button>

  <button mat-raised-button (click)="navegarParaTipoManufatura()" class="btn-margin">
    Tipo Manufatura
  </button>

