<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="55">

    <mat-accordion multi>
      <!--Menu cadastros-->
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false" class="expansion-panel">
        <mat-expansion-panel-header>
            Cadastro
        </mat-expansion-panel-header>
        <a class="nav-link" routerLink="produto">Produto</a>
        <a class="nav-link" routerLink="/lista-tecnica">Lista Técnica</a>
        <a class="nav-link" routerLink="/cadastro-insumo">Cadastro Insumo</a>
        <a class="nav-link" routerLink="/estoque-insumo">Estoque Insumo</a>
        <a class="nav-link" routerLink="/unidade-engenharia">Unidade Engenharia</a>
        <a class="nav-link" routerLink="/modo-manufatura">Modo Manufatura</a>
        <a class="nav-link" routerLink="/tipo-manufatura">Tipo Manufatura</a>
      </mat-expansion-panel>

    </mat-accordion>
  </mat-sidenav>

</mat-sidenav-container>
