.sidenav{
  background-color: #181718;
  width: 200px;
  margin-right: 30px;
  flex-direction: column;
  left: 0;
}

.sidenav a {
  color: white;
}




.expansion-panel{
  background: #181718;
  color: white;
  margin-top: 10px;


}

/*deixa na cor branca a seta do menu de expansão */
::ng-deep.mat-expansion-indicator::after, .mat-expansion-panel-header-description {
  color: white;
}

.mat-expansion-panel a{
  line-height: 2;
  text-decoration: none;
}
