<!--Cabeçalho da listagem de tipo de manufatura-->
<div class="card">
  <div class="card-header">
    Listagem de Modo de Manufatura
    <button class="btn btn-success btn-cadastro" (click)="navegarParaCadastraModoManufatura()">+ Cadastrar</button>
  </div>


  <!--Tabela listagem de tipo de manufatura-->
  <div class="card-body">
    <!--Coloca a barra de rolagem na tabela-->
    <div class="table-overflow">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>id</th>
            <th>Modo Manufatura</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody>
          <!--loop de tipo de manufatura dentro do banco de dados para mostrar na tabela-->
          <tr  *ngFor="let modo of modoManufaturas">
            <td>{{modo.id}}</td>
            <td>{{modo.modo_manufatura}}</td>
            <td>
              <!--Botões editar e deletar-->
              <button class="btn btn-outline-info btn-sm btn-editar" [routerLink]="['modo-manufatura/cadastro-modo-manufatura/',modo.id, 'edit']">Editar</button>
              <button class="btn btn-outline-danger btn-sm" (click)="delete(modo)">Apagar</button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

