<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Antares</title>
</head>

<body>

  <app-header></app-header>

  <app-navbar></app-navbar>

  <div class="router">
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>

  <!----
  <div class="container col-md-4">
    <router-outlet></router-outlet>
  </div> -->

</body>
</html>



