<!--Faz a chamada do componente card-header pois ele troca quando é cadastro ou alteração-->
<app-card-header
 card-header-title={{tituloPagina}}>
</app-card-header>


  <div class="card-body">
    <form formGroup="insumoForm">
      <!--Campo código SAP-->
      <div class="row">
        <div class="form-group col-md-4">
          <label for="codigo_sap_insumo">Código SAP</label>
          <input type="number" class="form-control" id="codigo_sap_insumo" [(ngModel)]="insumo.codigo_sap_insumo" autocomplete="off" disabled="">

          <!--Mostra o erro caso ocorra algum-->
          <ul *ngIf="errorMessages" class="error-list col-md">
            <li class="alert-danger">{{errorMessages.codigo_sap_insumo}}</li>
          </ul>

        </div>

        <!--Campo descrição do Insumo-->
        <div class="form-group col-md-8">
          <label for="descricao_insumo">Descrição do Insumo</label>
          <input type="text" class="form-control" id="descricao_insumo" [(ngModel)]="insumo.descricao_insumo" autocomplete="off" disabled="">

          <!--Mostra o erro caso ocorra algum-->
          <ul *ngIf="errorMessages" class="error-list col-md">
            <li class="alert-danger">{{errorMessages.descricao_insumo}}</li>
          </ul>

        </div>
      </div>

      <!--Campo unidade de engenharia-->
      <div class="row">
        <div class="form-group col-md">
          <label for="unidade">Unidade de Engenharia</label>

          <select name="unidade" class="form-control" id="unidade">
            <option *ngFor="let insumo of insumos" [value]="insumo.unidade">{{insumo.unidade}}</option>

          </select>

          <!--Mostra o erro caso ocorra algum-->
          <ul *ngIf="errorMessages" class="error-list col-md">
            <li class="alert-danger">{{errorMessages.unidade}}</li>
          </ul>

        </div>

        <!--Campo quantidade de insumo-->
        <div class="form-group col-md">
          <label for="quantidade">Quantidade de insumo</label>
          <input type="number" class="form-control" id="quantidade" [(ngModel)]="insumo.quantidade" autocomplete="off">

          <!--Mostra o erro caso ocorra algum-->
          <ul *ngIf="errorMessages" class="error-list col-md">
            <li class="alert-danger">{{errorMessages.quantidade}}</li>
          </ul>

        </div>

        <!--Campo estoque minimo-->
        <div class="form-group col-md">
          <label for="estoque_minimo">Estoque Mínimo de Insumo</label>
          <input type="number" class="form-control" id="estoque_minimo" [(ngModel)]="insumo.estoque_minimo" autocomplete="off">

          <!--Mostra o erro caso ocorra algum-->
          <ul *ngIf="errorMessages" class="error-list col-md">
            <li class="alert-danger">{{errorMessages.estoque_minimo}}</li>
          </ul>

        </div>
      </div>

      <!--Campo valor unitario-->
      <div class="row">
        <div class="form-group col-md">
          <label for="valor_unitario">Valor Unitário</label>
          <input type="number" class="form-control" id="valor_unitario" [(ngModel)]="insumo.valor_unitario" autocomplete="off">

          <!--Mostra o erro caso ocorra algum-->
          <ul *ngIf="errorMessages" class="error-list col-md">
            <li class="alert-danger">{{errorMessages.valor_unitario}}</li>
          </ul>

        </div>

        <!--Campo valor total-->
        <div class="form-group col-md">
          <label for="valor_total">Valor Total</label>
          <input type="number" class="form-control" id="valor_total" [(ngModel)]="insumo.valor_total" autocomplete="off">

          <!--Mostra o erro caso ocorra algum-->
          <ul *ngIf="errorMessages" class="error-list col-md">
            <li class="alert-danger">{{errorMessages.valor_total}}</li>
          </ul>

        </div>
      </div>

    </form>
  </div>

<!--Botões salvar e cancelar-->

<button class="btn btn-danger" (click)="navegarParaListaEstoqueInsumo()">Cancelar</button>
<button class="btn btn-success" (click)="save()">Salvar</button>
<button class="btn btn-primary">Listar Cadastro Insumos</button>



